<div>
  <link href="./receptes.css" rel="stylesheet" />
  <div class="receptes-container">
    <div class="receptes-container1">
      <header class="receptes-header">
        <div class="receptes-logo"></div>
        <img
          alt="image"
          src="https://images.unsplash.com/photo-1574484284002-952d92456975?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDQxfHxmb29kfGVufDB8fHx8MTY0NTQ0ODYyOQ&amp;ixlib=rb-1.2.1&amp;w=200"
          class="receptes-image"
        />
        <img
          alt="image"
          src="https://images.unsplash.com/photo-1565299624946-b28f40a0ae38?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDR8fGZvb2R8ZW58MHx8fHwxNjQ1NDQ4NTg5&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=200"
          class="receptes-image1"
        />
        <img
          alt="image"
          src="https://images.unsplash.com/photo-1565299507177-b0ac66763828?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDM2fHxmb29kfGVufDB8fHx8MTY0NTQ0ODYyOQ&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=200"
          class="receptes-image2"
        />
        <img
          alt="image"
          src="https://images.unsplash.com/photo-1484980972926-edee96e0960d?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDIwfHxmb29kfGVufDB8fHx8MTY0NTQ0ODU4OQ&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=200"
          class="receptes-image3"
        />
        <img
          alt="image"
          src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDJ8fGZvb2R8ZW58MHx8fHwxNjQ1NDQ4NTg5&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=200"
          class="receptes-image4"
        />
        <img
          alt="image"
          src="https://images.unsplash.com/photo-1592417817098-8fd3d9eb14a5?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDUzfHxmb29kfGVufDB8fHx8MTY0NTQ0ODczMw&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=200"
          class="receptes-image5"
        />
        <img
          alt="image"
          src="https://images.unsplash.com/photo-1467003909585-2f8a72700288?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDExfHxmb29kfGVufDB8fHx8MTY0NTQ0ODU4OQ&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=200"
          class="receptes-image6"
        />
        <div class="receptes-container2"></div>
        <img
          alt="image"
          src="https://images.unsplash.com/photo-1476224203421-9ac39bcb3327?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE4fHxmb29kfGVufDB8fHx8MTY0NTQ0ODU4OQ&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=300"
          class="receptes-image7"
        />
        <div data-type="BurgerMenu" class="receptes-burger-menu">
          <svg viewBox="0 0 1024 1024" class="receptes-menu">
            <path
              d="M810.667 725.333h-597.333c-47.061 0-85.333 38.272-85.333 85.333s38.272 85.333 85.333 85.333h597.333c47.061 0 85.333-38.272 85.333-85.333s-38.272-85.333-85.333-85.333z"
            ></path>
            <path
              d="M810.667 426.667h-597.333c-47.061 0-85.333 38.272-85.333 85.333s38.272 85.333 85.333 85.333h597.333c47.061 0 85.333-38.272 85.333-85.333s-38.272-85.333-85.333-85.333z"
            ></path>
            <path
              d="M810.667 128h-597.333c-47.061 0-85.333 38.272-85.333 85.333s38.272 85.333 85.333 85.333h597.333c47.061 0 85.333-38.272 85.333-85.333s-38.272-85.333-85.333-85.333z"
            ></path>
          </svg>
        </div>
      </header>
    </div>
    <span class="receptes-text">MEKLĒ RECEPTES!</span>
    <span class="receptes-text1">
      IEVADI PRODUKTUS, KAS TEV PIEEJAMI ZEMĀK!
    </span>
    <input type="text" placeholder="placeholder" class="input" />
  </div>
</div>
